.inspection{
	width: 100%;
	&__container{
		width: 100%;
		display: flex;
		padding: 20px 90px;
		justify-content: space-around;
	}
	&__title{
		font-size: 35px;
	}
	&__subtitle{
		color: #ccc;
		font-size: 18px;
	}
	&__form{
		width: 630px;
		display: flex;
		flex-direction: column;
		padding: 50px 100px;
		gap: 20px;
		height: 700px;
		font-family: 'Onest', sans-serif;
	}
	&__input{
		font-family: 'Onest', sans-serif;
	}
	&__btn{
		width: 150px;
		height: 50px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-family: 'Onest', sans-serif;
		font-size: 16px;
	}
	&__faq{
		padding: 90px 100px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		&-map{
			width: 550px;
			height: 250px;
		}
	}
}