.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;

  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  &__window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 650px;
    padding: 40px;
    border-radius: 8px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;

    &.show {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }

  &__title {
    font-size: 27px;
  }

  &__subtitle {
    color: gray;
    padding-top: 10px;
  }

  &__list {
    list-style-type: none;
    padding: 10px 0;
  }

  &__item {
    font-size: 21px;
    padding: 10px 0;
    &-phone {
      font-size: 21px;
      display: flex;
      gap: 15px;
      padding: 10px 0;
    }
    &-email {
      font-size: 21px;
      display: flex;
      gap: 15px;
      padding: 10px 0;
    }
  }
}
