.burger-menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999 !important;

  .burger-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
  }

  .close-icon {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #1e88e5; 

    li {
      padding: 10px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;

        &:hover {
          color: #fff;
        }
      }
    }

    .open {
      .dropdown-menu {
        max-height: 80px; 
        margin-left: -10px;
        transition: none; 
      }
    }
  }

  .burger__menu-title{
    justify-content: center;
    align-items: center;
  }

  .burger__menu-btn {
    width: 115px;
    height: 40px;
    background-color: #ffffff;
    color: #4285f4;
    border: none;
    align-items: center;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3333 !important;
  }

  @media screen and (min-width: 1328px) {
    display: none;
  }

  .dropdown-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1e88e5; 
    overflow: hidden;
    max-height: 0;
    color: #ffffff;
    li {
      cursor: pointer;
      padding: 10px;
    }
  }
}


