.wrapper {
  padding: 60px;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    text-align: center;
    gap: 20px;
    width: 100%;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  .feature {
    display: block;
    position: relative;
    max-width: 550px;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 50px 24px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 50;
    height: 235px;
    cursor: pointer;
    color: #ffffff;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: url("https://media.istockphoto.com/id/1350239751/photo/car-diagnostic-service-and-electronics-repair.jpg?s=612x612&w=0&k=20&c=6xSgzMp9KJJ8lN0hC1UcuqXuuZMLNFCgCkcju-Q0BTU=");
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
      
      transition: opacity 0.3s ease;
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    }
    &__icon {
      font-size: 36px;
      color: #4a90e2;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    &__description {
      color: #ffffff;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 40px;

    .wrapper__container {
      padding-top: 20px;
    }

    .wrapper__left {
      margin-top: 30px;
    }

    .wrapper__right {
      margin-top: 20px;
    }

    .feature {
      max-width: 100%;
      width: 100%;
      margin: 10px 0;
      padding: 24px;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 20px;

    .wrapper__container {
      padding-top: 10px;
    }

    .head {
      font-size: 24px;
    }

    .text {
      font-size: 16px;
    }

    .feature {
      max-width: calc(100% - 20px);
      width: calc(100% - 20px);
      margin: 10px;
      padding: 20px;
    }
  }
}
