/* Information.scss */
.MainInformationContainer {
	padding: 20px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

h1,
h2 {
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th,
td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}
