.news__details {
  width: 70%;
  margin-top: 120px;
  &-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 15px;
    margin: 0 35px;
  }

  &-title {
    font-size: 25px;
    width: 90%;
    font-weight: 700;
  }

  &-date {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
    font-size: 19px;
  }

  &-image {
    width: 95%;
    margin: 15px 5px;
    display: flex;
    object-fit: cover;
    .swiper {
      height: 700px;
      margin-left: 10px;
    }
  }

  &-info {
    margin: 0 35px;
    width: 100%;
    margin-bottom: 70px;
  }

  &-desc {
    color: #333;
    margin: 20px 15px;
    width: 92%;
    font-size: 19px;
    line-height: 1.6;
  }

  &-bottom {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
  }

  &-socials {
    display: flex;
    gap: 15px;

    .facebook {
      font-size: 28px;
      cursor: pointer;

      &:hover {
        color: #1877f2;
      }
    }

    .whatsapp {
      font-size: 28px;
      cursor: pointer;

      &:hover {
        color: #25d366;
      }
    }
  }
}

.news__swiper {
  width: 100%;
  height: 300px;
  margin: 15px 0;

  &-img {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
}

.news__info {
  display: flex;
  width: 100%;
  gap: 8rem;
}

.news__right {
  width: 35%;
  margin: 220px 0 0 -95px;
  &-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &-title {
    padding: 15px 0;
  }
  &-extra{
    width: 450px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.35) !important;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.35) !important;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.35) !important;
    border-radius: 8px;
    padding: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    cursor: pointer;
    &-date{
      color: #000;
    }
    &-title{
      font-size: 20px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1550px) {
  .news__info {
    flex-direction: column;
    gap: 3rem;
  }
  .news__details {
    width: 100%;
    &-image {
      width: 90%;
    }
    &-desc {
      width: 95%;
      margin: 20px 25px;
    }
  }
  .news__right {
    width: 100%;
    margin: 20px ;
    align-items: center;
    &-title {
      text-align: left;
    }
    &-extra {
      width: 90%;
    }
  }
}


@media screen and (max-width:850px) {
  .news__details-info{
    margin: 0 19px;
  }
  .news__right{
    align-items: center;
    margin: 0 45px;
  }
  .news__details-title{
    font-size: 30px;
  }
  .news__details-image{
    margin: 15px 0;
    .swiper{
      height: 450px;
    }
  }
}

@media screen and (max-width:650px) {
  .news__details-top{
    margin: 0 7px;
  }
  .news__details-title{
    font-size: 24px;
  }
  .news__details-info{
    margin: 0;
  }
  .news__details-desc{
    width: 90%;
  }
  .news__right{
    align-items: center;
    margin: 0 19px;
  }
  .news__details-image{
    .swiper{
      height: 310px;
    }
    .swiper-button-next:after{
      font-size: 25px;
    }
    .swiper-button-prev:after{
      font-size: 25px;
    }
  }
  .news__details-title{
    font-size: 20px;
  }
  
}

@media screen and (max-width:450px) {
  .news__details-top{
    margin: 0 7px;
  }
  .news__details-title{
    font-size: 24px;
  }
  .news__details-info{
    margin: 0;
  }
  .news__details-desc{
    width: 90%;
  }
  .news__right{
    align-items: center;
    margin: 0 19px;
  }
  .news__details-image{
    .swiper{
      height: 260px;
    }
    .swiper-button-next:after{
      font-size: 25px;
    }
    .swiper-button-prev:after{
      font-size: 25px;
    }
  }
  .news__details-title{
    font-size: 20px;
  }
  
}

@media screen and (max-width:320px) {
  .news__details-top{
    margin: 5px 6px;
    padding: 20px 15px;
  }
  .news__details-image{
    .swiper{
      height: 200px;
    }
  }
  .news__right{
    align-items: center;
    margin: 0 19px;
  }
  .news__details-title{
    font-size: 20px;
  }
  
}



